<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.AdminMapper">
    <insert id="insertGoods">
        INSERT INTO goods(goodName,account,price,picture) VALUES (#{goodName},#{account},#{price},#{picture});
    </insert>
    <delete id="removeGoods" parameterType="int">
        DELETE FROM goods WHERE id=#{id};
    </delete>
    <update id="updateGoods">
        UPDATE goods SET goodName=#{goodName},account=#{account},price=#{price} WHERE id=#{id};
    </update>
    <update id="updateGoodPicture">
        UPDATE goods SET picture=#{price};
    </update>
    <select id="listAllGoods" resultType="Goods">
        SELECT * FROM goods;
    </select>
</mapper>