<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--标签扫描-->
    <context:component-scan base-package="com.example"/>
    <!--加载db.properties-->
    <context:property-placeholder location="db.properties"/>

    <!--加载数据源-->
    <bean id="dataSource" class="${dataSource}" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="maxIdle" value="5"/>
    </bean>
    <!--配置sqlSessionFactory用来产生sqlSession-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--加载mybatis的全局配置文件-->
        <property name="configLocation" value="SqlMapperConfig.xml"/>
        <!--加载数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--普通用户-->
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.example.dao.mapper.UserMapper"/>
    </bean>
    <!--管理员用户所拥有的权限-->
    <bean id="adminMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.example.dao.mapper.AdminMapper"/>
    </bean>
    <!--管理员用户的登录-->
    <bean id="rootMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.example.dao.mapper.RootMapper"/>
    </bean>
    <!--库存更新相关-->
    <bean id="goodsResetUpdate" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.example.dao.mapper.GoodsResetUpdate"/>
    </bean>

</beans>